<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Javithalion.IoT.WebSite.Front</title>

    <environment names="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" asp-fallback-href="~/assets/lib/angular-material-icons/angular-material-icons.css" rel="stylesheet" />
        <link href="https://rawgit.com/angular/bower-material/master/angular-material.css" asp-fallback-href="~/assets/lib/angular-material/angular-material.min.css" rel="stylesheet" />


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" asp-fallback-href="~/assets/lib/angular/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js" asp-fallback-href="~/assets/lib/angular-animate/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js" asp-fallback-href="~/assets/lib/angular-aria/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js" asp-fallback-href="~/assets/lib/angular-messages/angular-messages.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js" asp-fallback-href="~/assets/lib/angular-material/angular-material.min.js"></script>
    </environment>
</head>
<body ng-cloak layout="column">

    <div flex layout="row">

        <md-sidenav flex="15" md-is-locked-open="true" class="md-whiteframe-z1">
            <md-toolbar layout="row" layout-align="center center">
                <span>XXXXXXXXXXX</span>
            </md-toolbar>
            <md-divider></md-divider>
            <md-content>
                Content
            </md-content>
        </md-sidenav>

        <div id="main" class="animate-slide-up" ui-view="main" layout="column" layout-padding>
            @RenderBody()
            <footer>
                <p>&copy; 2016 - Javithalion.IoT.WebSite.Front</p>
            </footer>
        </div>



    </div>

    <environment names="Development">
        <script src="~/app/shared/navigation/navigationController.js"></script>
        <script src="~/app/shared/navigation/navigationComponent.js"></script>
        <script src="~/app/app.module.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
