<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Javithalion.IoT.WebSite</title>

    <environment names="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" asp-fallback-href="~/lib/angular-material-icons/angular-material-icons.css" rel="stylesheet" />
        <link href="https://rawgit.com/angular/bower-material/master/angular-material.css" asp-fallback-href="~/lib/angular-material/angular-material.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="https://rawgit.com/angular/bower-material/master/angular-material.css" asp-fallback-href="~/lib/angular-material/angular-material.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" asp-fallback-href="~/lib/angular-material-icons/angular-material-icons.css" rel="stylesheet" />
    </environment>
</head>
<body ng-app="javithalion.IoT.webSite" layout="column">

    <div class="container" layout="row" flex ng-cloak>
        <main-menu></main-menu>

        <md-content flex layout-padding layout="column" layout-align="top center">
            @RenderBody()
            <footer>
                <p>&copy; 2016 - Javithalion.IoT.WebSite</p>
            </footer>
        </md-content>

    </div>

    <environment names="Development">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" asp-fallback-href="~/lib/angular/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js" asp-fallback-href="~/lib/angular-animate/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js" asp-fallback-href="~/lib/angular-aria/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js" asp-fallback-href="~/lib/angular-messages/angular-messages.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js" asp-fallback-href="~/lib/angular-material/angular-material.min.js"></script>
        <script src="~/js/app/app.main.js"></script>
        <script src="~/js/app/components/mainMenu/mainMenuComponent.js"></script>
    </environment>

    <environment names="Staging,Production">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" asp-fallback-href="~/lib/angular/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js" asp-fallback-href="~/lib/angular-animate/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js" asp-fallback-href="~/lib/angular-aria/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js" asp-fallback-href="~/lib/angular-messages/angular-messages.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js" asp-fallback-href="~/lib/angular-material/angular-material.min.js"></script>
        <script src="~/js/app/app.main.js"></script>
        <script src="~/js/app/components/mainMenu/mainMenuComponent.js"></script>

    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
